.text-area {
  font-size: 42px;
  font-weight: 600;
}

.accepted-chars {
  color: #69d853;
}

.rejected-chars {
  color: #fa2525;
  background-color: rgba(250, 37, 37, 0.2);
  border-radius: 5px;
}

@keyframes example {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.pointer {
  border-right: 1px solid white;
  display: inline;
  animation-name: example;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}
