.text-area {
  font-size: 28px;
  font-weight: 600;
}

@media only screen and (min-width: 1200px) {
  .text-area {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1440px) {
  .text-area {
    font-size: 42px;
  }
}

.accepted-chars {
  color: #44bb2c;
}

.dark-mode .accepted-chars {
  color: #69d853;
}

.rejected-chars {
  color: #fa2525;
  background-color: rgba(250, 37, 37, 0.2);
  border-radius: 5px;
}

@keyframes pointer-anim {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.pointer {
  border-right: 1px solid #000;
  display: inline;
}

.pointer-animation {
  animation-name: pointer-anim;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

.dark-mode .pointer {
  border-color: #fff;
}
